body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #202020;
}

a, ul, img, h1, p{
    color: white;
    font-weight: bold;
    font-family: 'Roboto Condensed', sans-serif;
    letter-spacing: 2px;
    text-decoration: none;
    list-style-type: none;
}

button {
    padding: 10px 20px 10px 20px;
    border-radius: 5px 5px 5px 5px;
    background: linear-gradient(#2c2c2c, #0c0c0c);
}

h1 {
    font-size: x-large;
    padding-left: 20px;
}

.logo {
    display: flex;
    align-items: center;
    padding-left: 8%;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10%;
}

.links {
    width: 100%;
    padding-left: 40%;
}

.nav-links li {
    display: inline-block;
    margin-right: 10%;
    
}

.nav-links li a {
    transition: all 0.5s ease 0s;
}

.nav-links li a:hover {
    color: rgb(94, 94, 94);
}

hr {
    height: 1px;
    width: 60%;
    background-color: rgb(94,94,94);
    border: none;
}

.hamburger {
    display: none;
    height: 35px;
    width: 35px;
}

#hamburgerMenu {
    display: none;
}

.burger-nav {
    display: flex;
    align-items: center;
    justify-content: center;

}

.burger-nav li {
    padding-bottom: 20px;
}

.burger-links li a {
    transition: all 0.5s ease 0s;
}

.burger-links li a:hover {
    color: rgb(94, 94, 94);
}


@media only screen and (max-width: 1210px) {
    .nav-links {
        display: none;
    }
    .hamburger {
        display: flex;
        cursor: pointer;
    }
}


@media only screen and (max-width: 1667px)
   {
    .links {
        padding-left: 20%;
    }
} 



.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.content-box {
    width: 80%;

    background-color: #272727;
    border-radius: 5px 5px 5px 5px;
}
.selfie {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.selfie-img {
    padding-left: 10px;
    padding-top: 10px;
    border-radius: 50%;
    max-width: 45%;
}

.selfie-txt {
    font-size: xx-large;
    padding-left: 20px;
    padding-top: 10%;
    max-width: 100%;
}

@media (max-width: 1200px) {
    .selfie-txt {
      padding-top: 0%;
      font-size: large;
    }
  }

@media (max-width: 800px) {
    .selfie {
      flex-direction: column;
    }
    .selfie-txt {
      padding-top: 0%;
      font-size: large;
      text-align: center;
    }
  }


.scroll-container,
.scroll-area {
    max-width: 850px;
    height: 500px;
    font-size: 60px;
}

.scroll-container {
    overflow: auto;
    scroll-snap-type: y mandatory;
    height: 500px;
}

.scroll-container::-webkit-scrollbar {
    display: none;
  }

.scroll-area {
    scroll-snap-align: start;
}

.scroll-container,
.scroll-area {
    margin: 0 auto;
}

.scroll-area {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.scroll-area:nth-of-type(1) {
    background: blue;

}
.scroll-area:nth-of-type(2) {
    background: yellow;

}
.scroll-area:nth-of-type(3) {
    background: red;

}


.footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-content {
    width: 80%;
    height: 100px;
    background-color: #272727;
    border-radius: 5px 5px 5px 5px;
    padding-bottom: 10px;
    
}